site_name: OzStrips
theme:
  name: material
markdown_extensions:
  - attr_list
  - md_in_html
plugins:
  - glightbox
repo_url: https://github.com/maxrumsey/OzStrips
repo_name: "OzStrips"
markdown_extensions:
  - admonition